.favPage{
    margin-top: 150px;
}

.headline{
    text-align: center;
    letter-spacing: 1px;
    font-size: xxx-large;
}

.favoritesBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.newsBox{
    width: 400px;
    margin: 15px;
    padding: 25px;
    background-color: aliceblue;
    font-size: 20px;
    text-align: justify;
}

.newsBox h2, p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
}

.newsBox img{
    height: 250px;
    width: 400px;
}

.newsBox i{
    font-size: x-large;
    color: red;
}

.favBtn{
    position: relative;
    bottom: 250px;
    left: 350px;
}

.favBtn i{
    font-weight: bold;
    z-index: 99;
}

.noArticles{
    font-size: 25px;
}

.noArticles a{
    font-weight: bold;
    text-decoration: underline;
    color: var(--main-color);
}

/* Responsiveness */

@media screen and (max-width:400px){
    .headline{
        font-size: xx-large;
    }
    .newsBox{
        width: 320px;
        margin: 5px 0px;
        padding: 0px 5px;
        margin: 0px;
        text-align: justify;
    }
    .newsBox h2, h4{
        margin: 4px;
    }
    .newsBox img{
        width: 350px;
    }
    .favBtn{
        left: 88%;
        bottom: 250px;
    }
}

