.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: aliceblue;
}

.homePage{
    margin-top: 150px;
}

/* Responsiveness */
@media screen and (max-width:400px) {
    .homePage{
        margin-top: 130px;
    }
}